/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
//colors
$color_tangerine_approx: #f58703;
$white: #fff;
$color_fern_green_approx: #49872e;
$color_tapa_approx: #777;
$color_outer_space_approx: #2e353f;
$color_california_approx: #ff9900;
$color_zumthor_approx: #edf7ff;
$color_tuatara_approx: #373737;
$black: #000;
$color_tiara_approx: #c3d0d4;
$color_log_cabin_approx: #212121;
$color_pink_swan_approx: #bbb9b9;
$color_mountain_mist_approx: #999;
$color_gallery_approx: #eee;
$color_tango_approx: #f58025;
$color_spring_wood_approx: rgb(249, 245, 239);
$color_daintree_approx: #05222a;
$black_50: rgba(0,0,0,.5);
$color_bon_jour_approx: #e0e0e0;
$color_fuscous_gray_approx: #555;
$color_cerulean_approx: #03a9f4;
$color_sushi_approx: #8bc34a;
$color_amber_approx: #ffc107;
$color_alizarin_crimson_approx: #e51c23;

//fonts
$font_0: Open Sans;
$font_1: sans-serif;
$font_2: Cagliostro;
$font_3: Open sans;

//urls
$url_0: url(../images/ba.jpg);
$url_1: url(../images/img-sprite.png);
$url_2: url(../images/ba1.jpg);
.new-top{
	border:1px #EEE solid;
	padding:1em;
	border-radius: 3px;
}
.new-top1{
	border:1px #EEE solid;
	padding:1em;
	border-radius: 3px;
}
//@extend-elements
//original selectors
//h1, h2, h3, h4, h5, h6
%extend_1 {
	margin: 0;
	padding: 0;
	font-family: Oswald, sans-serif;
}

//original selectors
//.xs h3, h3.m_1
%extend_2 {
	color: $black;
	font-size: 1.7em;
	font-weight: 300;
	margin-bottom: 1em;
}

//original selectors
//.table >thead >tr >th, .table >tbody >tr >th, .table >tfoot >tr >th, .table >thead >tr >td, .table >tbody >tr >td, .table >tfoot >tr >td
%extend_3 {
	font-size: 0.9em;
	color: $color_mountain_mist_approx;
	border-top: none !important;
}

//original selectors
//h1.t-button, h2.t-button, h3.t-button, h4.t-button, h5.t-button
%extend_4 {
	line-height: 2em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}


body {
	font-family: $font_0, $font_1;
	a {
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: 0.5s all;
	}
}
ul {
	padding: 0;
	margin: 0;
	&.grid-part {
		margin-top: 1em;
		li {
			list-style: none;
			font-size: 1em;
			color: $color_tapa_approx;
			line-height: 2em;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: 0.5s all;
			font-size: 0.965em;
			:hover {
				color: $color_tangerine_approx;
				padding-left: 0.2em;
			}
			i {
				font-size: 1.2em;
				margin-right: 0.5em;
				color: $color_fern_green_approx;
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: 0.5s all;
			}
		}
	}
}
h1 {
	@extend %extend_1;
	&.t-button {
		@extend %extend_4;
	}
}
h2 {
	@extend %extend_1;
	&.tittle {
		font-size: 3.5em;
		color: $color_fern_green_approx;
		text-align: center;
		font-size: 1.2em;
	}
	&.t-button {
		@extend %extend_4;
	}
	&.typoh2 {
		margin: 0 0 10px;
	}
}
h3 {
	@extend %extend_1;
	&.tittle {
		font-size: 3.5em;
		color: $color_fern_green_approx;
		text-align: center;
		font-size: 3.2em;
		font-size: 2.1em;
	}
	&.tittle1 {
		font-size: 3.5em;
		color: $color_fern_green_approx;
		text-align: left;
		margin-bottom: 0.8em;
		font-size: 3.2em;
		font-size: 2.1em;
	}
	&.tittle2 {
		font-size: 3.5em;
		color: $white;
		text-align: center;
		font-size: 3.2em;
		font-size: 2.1em;
	}
	&.m_1 {
		@extend %extend_2;
	}
	&.hdg {
		margin-bottom: 1em;
		color: $color_tangerine_approx;
	}
	&.bars {
		margin-bottom: 1em;
		color: $color_tangerine_approx;
	}
	&.t-button {
		@extend %extend_4;
	}
}
h4 {
	@extend %extend_1;
	&.t-button {
		@extend %extend_4;
	}
}
h5 {
	@extend %extend_1;
	&.t-button {
		@extend %extend_4;
	}
}
h6 {
	@extend %extend_1;
}
p {
	margin: 0;
	padding: 0;
	color: $color_tapa_approx;
	font-family: $font_0, $font_1;
	line-height: 1.8em;
}
.header {
	background: rgba(0, 0, 0, 0.15);
	position: absolute;
	z-index: 1500;
	width: 100%;
}
.header-top {
	padding: 1em 0;
	background: rgba(255, 253, 86, 0.37);
}
.just{
	position:absolute;
	top:-7px;
	z-index:150;
	display:block;
	padding:10px;
	img{
		width:206px;
	}
}
.detail {
	float: left;
	margin-top: .5em;
	ul li {
		display: inline-block;
		font-size: 1em;
		margin: 0 0.5em;
		color: $white;
	}
	p{
    	color: $white;
	}
}
.indicate {
	float: right;
	margin-top: .2em;
	i {
		font-size: 1.2em;
		vertical-align: sub;
		margin-right: 0.5em;
		color: $white;
	}
	p {
		font-size: 1em;
		color: $white;
		text-decoration: none;
		outline: none;
		vertical-align: middle;
	}
}
.navbar-brand {
	float: left;
	height: 50px;
	padding: 0 7px;
	span {
		font-size: 0.7em;
	}
	h1 a {
		font-size: 1.4em;
		text-decoration: none;
		color: $white;
	}
}
.navbar-nav {
	float: right;
	> li > a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
.navbar {
	margin-bottom: 0;
	> {
		.container .navbar-brand {
			margin-left: 0;
		}
		.container-fluid .navbar-brand {
			margin-left: 0;
		}
	}
}
.navbar-collapse {
	padding-right: 0;
	padding-left: 0;
}
.navbar-default {
	background: none !important;
	border: none !important;
	.navbar-nav {
		> {
			.active > a {
				background-color: $color_fern_green_approx;
				color: $color_california_approx;
				&:hover {
					background-color: $color_fern_green_approx;
					color: $color_california_approx;
				}
				&:focus {
					background-color: $color_fern_green_approx;
					color: $color_california_approx;
				}
			}
			.open > a {
				color: $color_california_approx;
				background-color: $color_fern_green_approx;
				&:hover {
					color: $color_california_approx;
					background-color: $color_fern_green_approx;
				}
				&:focus {
					color: $color_california_approx;
					background-color: $color_fern_green_approx;
				}
			}
		}
		> li > a {
			color: $white;
			font-size: 0.9em;
			text-transform: uppercase;
			font-family: Oswald, sans-serif;
			display: table-cell;
			width: 110px;
			text-align: center;
			height: 79px;
			vertical-align: middle;
			&:hover {
				color:yellow !important;
			}
			&:focus {
				background-color: $color_fern_green_approx;
				color: $color_california_approx;
			}
		}
	}
}
.link-effect-2 {
	a {
		overflow: hidden;
		font-weight: 400;
		span {
			position: relative;
			display: inline-block;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: 0.3s;
		}
		span::before {
			color: $color_california_approx;
			position: absolute;
			top: 100%;
			content: attr(data-hover);
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translate3d(0, 0, 0);
		}
		&:hover span {
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateY(-100%);
		}
	}
}

.kb_caption{
	top:250px !important;
	right:0 !important;
	h3{
		background:rgba(255,255,255,.75) !important;
	}
	h4{
		font-size: 17px !important;
		line-height: 33px;
		text-align: left !important;
	}
}
.ban-grid {
	padding: 2em 0;
	i {
		font-size: 2.5em;
		color: $color_tuatara_approx;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: 0.5s all;
	}
	h4 {
		font-size: 2em;
		color: $color_tangerine_approx;
		text-transform: capitalize;
	}
	p {
		font-size: 1em;
		line-height: 1.8em;
		margin-top: 0.5em;
		font-size: 0.965em;
	}
	&:hover div.ban-right i {
		color: $color_fern_green_approx;
	}
}
.ban-left {
	float: left;
	width: 70%;
}
.ban-right {
	float: left;
	width: 30%;
}
.welcome-w3 {
	padding: 5em 0;
}
.new-w3agile {
	padding: 5em 0;
}
.about-w3 {
	padding: 5em 0;
}
.services-w3l {
	padding: 5em 0;
}
.projects-agile {
	padding: 5em 0;
}
.courses-w3ls {
	padding: 5em 0;
}
.statistics-w3 {
	padding: 5em 0;
}
.typo-w3 {
	padding: 5em 0;
}
.contact-w3l {
	padding: 5em 0;
}
.wel-grids {
	margin-top: 4em;
	margin-top: 2em;
}
.student-grids {
	margin-top: 4em;
	margin-top: 2em;
}
.about-grids {
	margin-top: 4em;
	margin-top: 2em;
}
.what-grids {
	margin-top: 4em;
	margin-top: 2em;
}
.staff-grids {
	margin-top: 4em;
	margin-top: 2em;
}
.statistics-grids {
	margin-top: 4em;
	margin-top: 3em;
	margin-top: 2em;
}
.services-grids {
	margin-top: 4em;
	margin-top: 2em;
}
.ourser-grids {
	margin-top: 4em;
	margin-top: 2em;
}
.course-grids {
	margin-top: 4em;
	margin-top: 2em;
}
.text-desc {
	position: absolute;
	left: 0;
	top: 0;
	background: $color_tangerine_approx;
	height: 100%;
	opacity: 0;
	width: 100%;
	padding: 20px;
	h4 {
		color: $white;
		font-size: 1.8em;
		margin-bottom: 0.5em;
	}
}
.port-7 {
	width: 100%;
	position: relative;
	text-align: center;
	overflow: hidden;
	.text-desc {
		opacity: 0;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: 0.5s;
		color: $black;
	}
	&.effect-2 {
		img {
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: 0.5s;
			position: relative;
			width: 100%;
			top: 0;
		}
		&:hover {
			img {
				top: 50%;
			}
			.text-desc {
				opacity: 1;
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: perspective(600px) rotateX(0deg);
				z-index: 99;
			}
		}
		.text-desc {
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: perspective(600px) rotateX(90deg);
			//Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
			transform-origin: top center 0;
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;
			height: 30%;
			padding: 23px 10px 0;
			height: 35%;
			height: 20%;
		}
	}
}
.wel-grid {
	position: relative;
	float: left;
	&:nth-child(2) {
	}
}





.kb_caption h3 .text-grid {
	position: absolute;
	left: 6px;
	bottom: 0;
	background: #f58703;
	width: 97%;
	height: 60px;
}
.student-w3ls {
	padding: 5em 0;
	background: #F1F1F1;
}
.student-grid {
	h4 {
		font-size: 2em;
		color: $color_tangerine_approx;
	}
}
.testimonials-w3 {
	background: url(../images/testi.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	text-align: center;
	.container{
		padding:1em;
		background:rgba(0,0,0,0.5);
	}
	h5 {
		color: $white;
		width: 66%;
		margin: .5em auto 0;
		line-height: 1.5em;
		font-size: 1.5em;
		a{
			color:white;
		}
	}
	p {
		color: $white;
		font-size: 1.2em;
		text-align: right;
	}
}
.new-bottom-left {
	width: 38%;
	float: left;
	margin-right: 3%;
}
.new-bottom-right {
	width: 59%;
	float: left;
}
.new-right {
	h4 {
		font-size: 2em;
		color: $color_tangerine_approx;
		line-height: 1.2em;
		margin: 0 0 24px 0;
	}
	h5 {
		font-size: 1.8em;
		color: $color_tangerine_approx;
		line-height: 1.2em;
		font-size: 1.5em;
	}
	p {
		font-size: 1em;
		padding-top: 1em;
		font-size: 0.965em;
		text-align: justify;
	}
}
.new-bottom {
	margin: 2em 0;
	margin: 1em 0;
	border-top: 1px solid $color_tiara_approx;
	padding: 1.2em 0;
	border-bottom: 1px solid $color_tiara_approx;
}
.new-left {
	h5 {
		font-size: 1.8em;
		color: $color_tangerine_approx;
		font-size: 15px;
		float: left;
		display: block;
		height: 100px;
		width: 65px;
		clear: both;
		background: white;
		text-align: center;
		margin-right: 10px;
		padding: 12px;
		border-top: 15px #f58703 solid;
		border: 1px #EEE solid;
	}
	p {
		font-size: 1em;
		padding-top: 0;
		font-size: 0.965em;
	}
}
.new-top1 {
	margin: 1.2em 0;
}
.footer-w3 {
	background: $color_log_cabin_approx;
	padding: 4em 0;
}
.footer-grid {
	h4 {
		font-size: 2em;
		color: $white;
		margin-bottom: 1em;
		margin-bottom: .6em;
	}
	p {
		font-size: 1em;
		color: $color_pink_swan_approx;
		font-size: 0.965em;
		span {
			display: block;
			margin: 1em 0 0;
		}
	}
	ul li {
		list-style: none;
		color: $color_pink_swan_approx;
		line-height: 2em;
		font-size: 1em;
		font-size: 0.965em;
		i {
			color: $color_pink_swan_approx;
			line-height: 2em;
			font-size: 1em;
			margin-right: 1em;
		}
		a {
			color: $color_mountain_mist_approx;
			text-decoration: none;
		}
	}
}
.footer-grid1 {
	float: left;
	width: 31.45%;
	margin: 0 0.3em .3em 0;
}
.copy-section {
	padding: 2em 0;
	background: $color_fern_green_approx;
	text-align: center;
	p {
		font-size: 0.9em;
		color: $color_gallery_approx;
		font-weight: 400;
	}
	a {
		font-size: 1em;
		color: $color_gallery_approx;
		font-weight: 400;
		text-transform: capitalize;
	}
}
.social-icons {
	margin-bottom: 1em;
	i {
		&.icon1 {
			background-position: 0 0;
			&:hover {
				background: $color_fern_green_approx $url_1 no-repeat 0 0;
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: rotateY(360deg);
			}
		}
		&.icon2 {
			background-position: -32px 0;
			&:hover {
				background: $color_fern_green_approx $url_1 no-repeat -32px 0;
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: rotateY(360deg);
			}
		}
		&.icon3 {
			background-position: -64px 0;
			&:hover {
				background: $color_fern_green_approx $url_1 no-repeat -64px 0;
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: rotateY(360deg);
			}
		}
		&.icon4 {
			background-position: -96px 0;
			&:hover {
				background: $color_fern_green_approx $url_1 no-repeat -96px 0;
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: rotateY(360deg);
			}
		}
	}
	a i {
		width: 32px;
		height: 32px;
		background: $color_tangerine_approx $url_1 no-repeat 0 0;
		display: inline-block;
		margin: 0 0.2em;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: 0.5s all;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 20px;
	}
}
.banner-w3agile {
	background: url(../images/ba1.jpg) no-repeat 0 46%;
	background-size: cover;
	min-height: 190px;
	padding: 6em 0 0;
	text-align: center;
	h3 {
		font-size: 2em;
		color: $white;
		a {
			color: $white;
			text-decoration: none;
		}
		span {
			color: $color_tango_approx;
		}
	}
}
.about-grid {
	h4 {
		font-size: 2em;
		color: $color_tangerine_approx;
		margin-bottom: 0.7em;
	}
	p {
		font-size: 1em;
		margin-top: 1em;
		font-size: 0.965em;
	}
}
.what-grid {
	h4 {
		font-size: 2em;
		color: $color_tangerine_approx;
	}
	p {
		line-height: 1.8em;
		font-size: 1em;
		margin-top: 1em;
		font-size: 0.965em;
	}
}
.what-bottom {
	margin-top: 2em;
}
.what-w3 {
	padding: 5em 0;
	background: $color_spring_wood_approx;
}
.what-bottom1 {
	margin-bottom: 2em;
}
.staff-w3l {
	padding: 1em 0;
	background: $color_gallery_approx;
}
.staff-right {
	float: left;
	width: 50%;
	background: $white;
	padding: 2em 2em .8em;
	padding: 1em;
	width: 100%;
	h4 {
		font-size: 2em;
		margin: .5em 0 !important;
	}
	ul {
		margin: 1em 0;
		li {
			list-style: none;
			line-height: 2.5em;
			font-size: 1em;
			color: $color_tapa_approx;
			font-size: 0.965em;
		}
	}
}
.staff-left {
	float: left;
	width: 50%;
	width: 100%;
	img {
		margin: 0 auto;
	}
}
.statistics {
	padding: 5em 0;
	text-align: center;
}
.statistic {
	background: $color_tangerine_approx;
	padding: 2em;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 50%;
	width: 100%;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: translateZ(0);
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	//Instead of the line below you could use @include backface-visibility($visibility)
	backface-visibility: hidden;
	position: relative;
	//Instead of the line below you could use @include transition-property($property-1, $property-2, $property-3, $property-4, $property-5, $property-6, $property-7, $property-8, $property-9, $property-10)
	transition-property: color;
	//Instead of the line below you could use @include transition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
	transition-duration: 0.5s;
	padding: 1.3em 1em;
	padding: 7em 3em;
	h4 {
		font-size: 3.5em;
		color: $white;
		font-size: 3em;
	}
	h5 {
		font-size: 1.8em;
		color: $white;
		padding: .5em 0;
		font-size: 1.4em;
	}
	p {
		font-size: 1em;
		color: $color_gallery_approx;
		line-height: 1.8em;
		font-size: 0.965em;
	}
	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $color_fern_green_approx;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scaleY(0);
		//Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
		transform-origin: 50% 0;
		//Instead of the line below you could use @include transition-property($property-1, $property-2, $property-3, $property-4, $property-5, $property-6, $property-7, $property-8, $property-9, $property-10)
		transition-property: transform;
		//Instead of the line below you could use @include transition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
		transition-duration: 0.5s;
		//Instead of the line below you could use @include transition-timing-function($function-1, $function-2, $function-3, $function-4, $function-5, $function-6, $function-7, $function-8, $function-9, $function-10)
		transition-timing-function: ease-out;
		padding: 2em;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 50%;
	}
	&:hover {
		color: $white;
		&:before {
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: scaleY(1);
			//Instead of the line below you could use @include transition-timing-function($function-1, $function-2, $function-3, $function-4, $function-5, $function-6, $function-7, $function-8, $function-9, $function-10)
			transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
		}
	}
	&:focus {
		color: $white;
		&:before {
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: scaleY(1);
			//Instead of the line below you could use @include transition-timing-function($function-1, $function-2, $function-3, $function-4, $function-5, $function-6, $function-7, $function-8, $function-9, $function-10)
			transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
		}
	}
	&:active {
		color: $white;
		&:before {
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: scaleY(1);
			//Instead of the line below you could use @include transition-timing-function($function-1, $function-2, $function-3, $function-4, $function-5, $function-6, $function-7, $function-8, $function-9, $function-10)
			transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
		}
	}
}
.icon {
	text-align: center;
	i {
		width: 80px;
		height: 80px;
		font-size: 2em;
		border: 3px double $color_fern_green_approx;
		line-height: 80px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 50px;
		color: $color_tango_approx;
	}
}
.ser-grid {
	h4 {
		font-size: 2em;
		text-align: center;
		margin: 0.5em 0;
		color: $color_tangerine_approx;
	}
	p {
		font-size: 1em;
		text-align: center;
		line-height: 1.8em;
		font-size: 0.965em;
	}
	&:hover div.icon i {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotateY(360deg);
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: .5s all;
	}
}
.our-services-w3 {
	padding: 5em 0;
	background: $color_zumthor_approx;
}
.ourser-grid {
	h4 {
		font-size: 2em;
		color: $color_tangerine_approx;
		margin-top: .8em;
	}
	p {
		font-size: 1em;
		line-height: 1.8em;
		margin-top: .5em;
		font-size: 0.965em;
	}
}
.serv-img {
	padding: 0;
}
.mask {
	text-decoration: none;
	overflow: hidden;
	display: block;
}
.portfolio_grid_w3lss {
	&:nth-child(3) {
		margin: 2em 0;
	}
	&:nth-child(2) {
		margin-top: 4em;
		margin-top: 2em;
	}
}
.w3agile_Projects_grid {
	width: 85%;
	> figure {
		margin: 0;
		padding: 0;
		height: 232.5px;
		position: relative;
		display: block;
		cursor: pointer;
		overflow: hidden;
		&:hover figcaption {
			filter: alpha(opacity=100);
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: rotate(0);
			top: 0;
		}
	}
	> figcaption {
		filter: alpha(opacity=0);
		opacity: 0;
		position: absolute;
		height: 100%;
		width: 100%;
		top: -100%;
		background: $black_50;
		color: $white;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all .5s ease;
		//Instead of the line below you could use @include transition-delay($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10)
		transition-delay: .5s;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotate(360deg);
	}
	figcaption {
		h4 {
			color: $white;
			padding: 0 20px;
			margin-bottom: 0;
			position: relative;
			left: 100%;
			font-size: 2em;
			margin: 2.5em 0 .5em;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all .5s;
			//Instead of the line below you could use @include transition-delay($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10)
			transition-delay: 1s;
			text-align: center;
			text-transform: capitalize;
			margin: 1.8em 0 .5em;
		}
		p {
			font-family: $font_3;
			line-height: 1.8em;
			text-align: center;
			padding: 0 20px;
			margin-bottom: 0;
			position: relative;
			left: 100%;
			color: $color_gallery_approx;
			font-size: 1em;
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all .5s;
			//Instead of the line below you could use @include transition-delay($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10)
			transition-delay: 1.3s;
		}
	}
	figure {
		height: 189.5px;
		height: 167.5px;
		&:hover {
			h4 {
				left: 0;
			}
			p {
				left: 0;
			}
		}
	}
}
.course-grid1 {
	h4 {
		font-size: 2em;
		color: $color_tangerine_approx;
		text-transform: capitalize;
	}
	p {
		font-size: 1em;
		padding-top: 1em;
		font-size: 0.965em;
	}
}
.sel {
	width: 100%;
	padding: .5em .8em;
	font-size: 0.95em;
	outline: none;
	text-transform: capitalize;
	border: none;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 3px;
}
.place-grid {
	input[type="submit"] {
		width: 100%;
		background: $color_daintree_approx;
		border: none;
		outline: none;
		color: $white;
		padding: .45em 0;
		font-size: 1em;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 3px;
	}
	&:nth-child(5) {
	}
}
.place-grids {
	margin-top: 3em;
	margin-top: 2em;
}
.serach-w3agile {
	background: $color_tangerine_approx;
	padding: 3em 0;
}
.well {
	font-weight: 300;
	font-size: 14px;
}
.list-group-item {
	font-weight: 300;
	font-size: 14px;
}
.show-grid {
	[class^=col-] {
		background: $white;
		text-align: center;
		margin-bottom: 10px;
		line-height: 2em;
		border: 10px solid $color_gallery_approx;
	}
	[class*="col-"]:hover {
		background: $color_bon_jour_approx;
	}
}
.grid_3 {
	margin-bottom: 2em;
	p {
		font-size: 0.85em;
		margin-bottom: 14px;
		line-height: 2em;
		color: $color_fuscous_gray_approx;
		font-size: 0.9em;
		margin-bottom: 1em;
		font-weight: 300;
	}
}
.grid_4 {
	background: none;
	margin-top: 50px;
}
.label {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	font-weight: 300 !important;
	padding: 4px 6px;
	border: none;
	//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	text-shadow: none;
}
.grid_5 {
	background: none;
	padding: 2em 0;
	h3 {
		margin-bottom: 1em;
		color: $color_tangerine_approx;
	}
	h2 {
		margin-bottom: 1em;
		color: $color_tangerine_approx;
	}
	h1 {
		margin-bottom: 1em;
		color: $color_tangerine_approx;
	}
	h4 {
		margin-bottom: 1em;
		color: $color_tangerine_approx;
	}
	h5 {
		margin-bottom: 1em;
		color: $color_tangerine_approx;
	}
}
.table {
	td {
		padding: 15px!important;
	}
	> thead > tr {
		> th {
			@extend %extend_3;
			padding: 15px!important;
		}
		> td {
			@extend %extend_3;
			padding: 15px!important;
		}
	}
	> tbody > tr {
		> th {
			@extend %extend_3;
			padding: 15px!important;
		}
		> td {
			@extend %extend_3;
			padding: 15px!important;
		}
	}
	> tfoot > tr {
		> th {
			@extend %extend_3;
			padding: 15px!important;
		}
		> td {
			@extend %extend_3;
			padding: 15px!important;
		}
	}
}
.badge-primary {
	background-color: $color_cerulean_approx;
}
.badge-success {
	background-color: $color_sushi_approx;
}
.badge-warning {
	background-color: $color_amber_approx;
}
.badge-danger {
	background-color: $color_alizarin_crimson_approx;
}
.bs-docs-example {
	margin: 1em 0;
}
.nav-tabs {
	margin-bottom: 3em;
}
.alert {
	font-size: 0.85em;
}
.input-group {
	margin-bottom: 20px;
}
.in-gp-tl {
	padding: 0;
}
.in-gp-tb {
	padding-right: 0;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}
@media(max-width:768px) {
}
@media(max-width:640px) {
	h1 {
		margin-top: 0;
		margin-bottom: 0;
	}
	.h1 {
		margin-top: 0;
		margin-bottom: 0;
	}
	h2 {
		margin-top: 0;
		margin-bottom: 0;
		&.typoh2 {
			font-size: 1.5em;
		}
	}
	.h2 {
		margin-top: 0;
		margin-bottom: 0;
	}
	h3 {
		margin-top: 0;
		margin-bottom: 0;
		&.hdg {
			margin-bottom: .5em;
		}
		&.bars {
			margin-bottom: .5em;
		}
	}
	.h3 {
		margin-top: 0;
		margin-bottom: 0;
	}
	.grid_5 {
		h3 {
			margin-bottom: .5em;
		}
		h2 {
			margin-bottom: .5em;
		}
		h1 {
			margin-bottom: .5em;
		}
		h4 {
			margin-bottom: .5em;
		}
		h5 {
			margin-bottom: .5em;
		}
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ul {
		&.list-group li {
			font-size: 14px;
		}
		&.grid-part li {
			font-size: 0.96em;
		}
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	.label {
		font-size: 60%;
	}
	.detail {
		float: none;
		margin-top: .5em;
		text-align: center;
	}
	.indicate {
		float: none;
		margin-top: .5em;
		text-align: center;
	}
	.text-grid {
		height: 40px;
		h4 {
			padding-top: 0.4em;
		}
	}
	.new-bottom-left {
		width: 100%;
	}
	.new-bottom-right {
		width: 100%;
		margin-top: 2em;
	}
	.footer-grid {
		p {
			font-size: 0.96em;
		}
		ul li {
			font-size: 0.96em;
		}
	}
	.statistic {
		p {
			font-size: 0.96em;
		}
		h4 {
			font-size: 2.5em;
		}
	}
	.contact-left {
		p {
			font-size: 0.96em;
		}
		ul li {
			font-size: 0.95em;
		}
	}
	.w3agile_Projects_grid {
		figure {
			height: 119.5px;
		}
		figcaption h4 {
			margin: 0.3em 0 .3em;
		}
	}
	.place-grid {
		float: left;
		width: 50%;
		padding: 0 9px;
		&:nth-child(3) {
			margin-top: 1em;
		}
		&:nth-child(4) {
			margin-top: 1em;
		}
	}
	ol.breadcrumb li {
		font-size: 14px;
	}
	.grid_3 p {
		font-size: 14px;
	}
	li.list-group-item1 {
		font-size: 14px;
	}
	.ban-grid p {
		font-size: 0.96em;
	}
	.student-grid p {
		font-size: 0.96em;
	}
	.new-left p {
		font-size: 0.96em;
	}
	.new-right p {
		font-size: 0.96em;
	}
	.about-grid p {
		font-size: 0.96em;
	}
	.what-grid p {
		font-size: 0.96em;
	}
	.ser-grid p {
		font-size: 0.96em;
	}
	.ourser-grid p {
		font-size: 0.96em;
	}
	.course-grid1 p {
		font-size: 0.96em;
	}
}
@media(max-width:480px) {
	.table {
		h1 {
			font-size: 26px;
		}
		h2 {
			font-size: 23px;
		}
		h3 {
			font-size: 20px;
		}
	}
	.label {
		font-size: 53%;
	}
	.alert {
		font-size: 14px;
	}
	p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0;
	}
	.navbar-default {
		padding: 1em 0;
	}
	.wel-grid {
		padding: 0 6px;
	}
	.text-grid {
		left: 6px;
		width: 91.3%;
	}
	h3 {
		&.tittle {
			font-size: 2.4em;
		}
		&.tittle2 {
			font-size: 2.4em;
		}
		&.tittle1 {
			font-size: 2.4em;
		}
	}
	.statistic {
		padding: 1.5em 1em;
	}
	.statistics-grid {
		padding: 0 6px;
	}
	.ser-grid {
		width: 100%;
		&:nth-child(2) {
			margin: 2em 0;
		}
	}
	.ourser-grid {
		width: 100%;
		&:nth-child(2) {
			margin: 2em 0;
		}
	}
	.w3agile_Projects_grid {
		figure {
			height: 199.5px;
		}
		figcaption h4 {
			margin: 2.5em 0 .5em;
		}
	}
	.ban-grid i {
		font-size: 1.8em;
	}
	.navbar-brand h1 a {
		font-size: 1.1em;
		margin-top: 0.1em;
	}
	.port-7.effect-2 .text-desc {
		padding: 10px 10px 0;
		height: 50%;
	}
	h2.tittle {
		font-size: 2.4em;
	}
	.staff-right ul li {
		font-size: 0.96em;
	}
}
@media(max-width: 320px) {
	.grid_4 {
		margin-top: 18px;
	}
	.alert {
		font-size: 13px;
		padding: 10px;
		margin-bottom: 10px;
	}
	p {
		font-size: 13px;
	}
	.well {
		font-size: 13px;
		padding: 10px;
	}
	ul {
		&.list-group li {
			font-size: 13px;
		}
		&.pagination li a {
			font-size: 14px;
			padding: 5px 11px;
		}
	}
	.list-group {
		margin-bottom: 10px;
	}
	.table-bordered {
		display: none;
	}
	.bs-docs-example {
		display: none;
	}
	h3.title {
		font-size: 1.6em;
	}
	ol.breadcrumb li {
		font-size: 13px;
	}
	.grid_3 p {
		font-size: 13px;
	}
	li.list-group-item1 {
		font-size: 13px;
	}
	a.list-group-item {
		font-size: 13px;
	}
	.nav > li > a {
		font-size: 14px;
	}
	table.table.table-striped {
		display: none;
	}
}
.contact-bottom {
	margin: 3em 0;
	padding: 1em;
	margin: 1em 0;
	iframe {
		min-height: 400px;
		border: none;
		width: 100%;
		min-height: 200px;
	}
}
.contact-left {
	input[type="text"] {
		width: 100%;
		padding: 0.8em;
		font-size: 1em;
		outline: none;
	}
	textarea {
		width: 100%;
		padding: 0.8em;
		font-size: 1em;
		outline: none;
		resize: none;
		height: 150px;
	}
	h4 {
		font-size: 2em;
		margin: 0 0 1em;
		color: $color_tangerine_approx;
	}
	p {
		font-size: 1em;
		line-height: 1.8em;
		font-size: 0.965em;
	}
	ul {
		padding: 1em 0 0;
		margin: 0;
		li {
			list-style-type: none;
			margin: 0 0 5px;
			font-size: 1em;
			color: $color_tapa_approx;
		}
	}
	input[type="submit"] {
		outline: none;
		color: $white;
		font-size: 1em;
		padding: 1em 0;
		width: 19.68%;
		background: $color_fern_green_approx;
		border: none;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: .5s all;
		letter-spacing: 1px;
		margin-top: 1em;
		&:hover {
			background: $color_tangerine_approx;
		}
	}
	input[type="reset"] {
		outline: none;
		color: $white;
		font-size: 1em;
		padding: 1em 0;
		width: 19.68%;
		background: $color_fern_green_approx;
		border: none;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: .5s all;
		letter-spacing: 1px;
		margin-top: 1em;
		&:hover {
			background: $color_tangerine_approx;
		}
	}
}
@media(max-width:1440px) {
}
@media(max-width:1366px) {
}
@media(max-width:1280px) {
}
@media(max-width:1080px) {

}
@media(max-width:991px) {
	.ban-grid {
		float: left;
		width: 25%;
		h4 {
			font-size: 1.7em;
		}
	}
	h3 {
		&.tittle {
			font-size: 3em;
		}
		&.tittle2 {
			font-size: 3em;
		}
		&.tittle1 {
			font-size: 3em;
		}
	}
	.student-grid {
		float: left;
		width: 50%;
		h4 {
			font-size: 1.7em;
		}
	}
	.new-right {
		float: left;
		width: 60%;
		h4 {
			font-size: 1.7em;
		}
		h5 {
			font-size: 1.6em;
		}
	}
	.footer-grid {
		float: left;
		width: 33.3%;
		padding: 0 4px;
		h4 {
			font-size: 1.7em;
		}
	}
	.about-grid {
		float: left;
		width: 50%;
		h4 {
			font-size: 1.7em;
		}
	}
	.what-grid {
		float: left;
		width: 50%;
		h4 {
			font-size: 1.7em;
		}
	}
	.staff-right {
		float: left;
		width: 63%;
		padding: 1.1em 3em 1.3em;
		h4 {
			font-size: 1.7em;
		}
	}
	.ser-grid {
		float: left;
		width: 33.3%;
		h4 {
			font-size: 1.7em;
		}
	}
	.ourser-grid {
		float: left;
		width: 33.3%;
		h4 {
			font-size: 1.7em;
		}
	}
	.course-grid1 {
		float: left;
		width: 50%;
		h4 {
			font-size: 1.7em;
		}
	}
	.contact-left {
		float: left;
		width: 40%;
		h4 {
			font-size: 1.7em;
		}
		input[type="submit"] {
			width: 30.68%;
		}
		input[type="reset"] {
			width: 30.68%;
		}
	}
	.welcome-w3 {
		padding: 4em 0;
	}
	.student-w3ls {
		padding: 4em 0;
	}
	.new-w3agile {
		padding: 4em 0;
	}
	.about-w3 {
		padding: 4em 0;
	}
	.what-w3 {
		padding: 4em 0;
	}
	.staff-w3l {
		padding: 4em 0;
	}
	.services-w3l {
		padding: 4em 0;
	}
	.our-services-w3 {
		padding: 4em 0;
	}
	.projects-agile {
		padding: 4em 0;
	}
	.courses-w3ls {
		padding: 4em 0;
	}
	.statistics-w3 {
		padding: 4em 0;
	}
	.typo-w3 {
		padding: 4em 0;
	}
	.contact-w3l {
		padding: 4em 0;
	}
	.wel-grids {
		margin-top: 3em;
	}
	.student-grids {
		margin-top: 3em;
	}
	.about-grids {
		margin-top: 3em;
	}
	.test-grid {
		margin-top: 3em;
	}
	.what-grids {
		margin-top: 3em;
	}
	.staff-grids {
		margin-top: 3em;
	}
	.statistics-grids {
		margin-top: 3em;
	}
	.services-grids {
		margin-top: 3em;
	}
	.ourser-grids {
		margin-top: 3em;
	}
	.course-grids {
		margin-top: 3em;
	}
	.ban-left {
		float: left;
		width: 80%;
	}
	.ban-right {
		float: left;
		width: 20%;
	}
	.wel-grid {
		float: left;
		width: 33.3%;
	}
	.text-grid {
		width: 88.3%;
	}
	.testimonials-w3 {
		min-height: 390px;
		padding: 4em 0 0;
		.container{
			padding:1em;
			background:rgba(0,0,0,.4);
			height:auto;
			overflow: hidden;
		}
		h5 {
			font-size: 2em;
			width: 88%;
		}
	}
	.new-left {
		float: left;
		width: 40%;
		h5 {
			font-size: 1.6em;
		}
	}
	.footer-grid1 {
		float: left;
		width: 29.45%;
	}
	.video-grid {
		float: left;
		width: 50%;
		iframe {
			height: 194px;
		}
	}
	.statistics-grid {
		float: left;
		width: 50%;
		&:nth-child(3) {
			margin-top: 2em;
		}
		&:nth-child(4) {
			margin-top: 2em;
		}
	}
	.statistic {
		padding: 3em;
		width: 79%;
	}
	.staff-left {
		float: left;
		width: 37%;
	}
	.w3agile_Projects_grid {
		float: left;
		width: 33.3%;
		figure {
			height: 140.5px;
		}
		figcaption h4 {
			margin: 0.5em 0 .3em;
		}
	}
	.place-grid {
		float: left;
		width: 25%;
		padding: 0 6px;
		&:nth-child(5) {
			margin-top: 1em;
			width: 100%;
		}
	}
	.course-grid {
		float: left;
		width: 50%;
	}
	.cont {
		float: left;
		width: 60%;
	}
	.row-grid {
		float: left;
		width: 50%;
	}
	.navbar-brand h1 a {
		font-size: 1.2em;
	}
	.nav > li > a {
		padding: 0 7px;
	}
	h2.tittle {
		font-size: 3em;
	}
	.portfolio_grid_w3lss:nth-child(2) {
		margin-top: 3em;
	}
	.port-7.effect-2 .text-desc {
		height: 40%;
		padding: 15px 10px 0;
	}
	.staff-grid:nth-child(2) {
		margin-top: 3em;
	}
	.contact-bottom iframe {
		width: 100%;
		min-height: 300px;
	}
}
@media(max-width:800px) {
	.ban-grid {
		float: left;
		width: 50%;
	}
}
@media(max-width:736px) {
	.navbar-nav {
		float: none;
		text-align: center;
	}
	.navbar-default {
		.navbar-toggle {
			border-color: $color_tangerine_approx;
			&:hover {
				background-color: $color_tangerine_approx;
			}
			&:focus {
				background-color: $color_tangerine_approx;
			}
			.icon-bar {
				background-color: $white;
			}
		}
		.navbar-collapse {
			border-color: $color_fern_green_approx;
		}
		.navbar-form {
			border-color: $color_fern_green_approx;
		}
	}
	.navbar-toggle {
		position: relative;
		float: right;
		padding: 9px 10px;
		margin-top: 8px;
		margin-right: 15px;
		margin-bottom: 8px;
		background-color: $color_tangerine_approx;
		background-image: none;
		border: 1px solid $color_tangerine_approx;
	}
	.banner-w3agile {
		min-height: 147px;
		padding: 5em 0 0;
	}
	h3 {
		&.tittle {
			font-size: 2.8em;
		}
		&.tittle2 {
			font-size: 2.8em;
		}
		&.tittle1 {
			font-size: 2.8em;
		}
	}
	.statistic {
		padding: 3em;
		width: 85%;
	}
	.staff-right {
		padding: 1.5em 3em .2em;
	}
	.w3agile_Projects_grid {
		figure {
			height: 134.5px;
		}
		figcaption h4 {
			font-size: 1.8em;
		}
	}
	.contact-left {
		input[type="text"] {
			padding: 0.5em;
			font-size: 0.95em;
		}
		textarea {
			padding: 0.5em;
			font-size: 0.95em;
		}
	}
	.nav > li > a {
		padding: 3px 7px;
	}
	h2.tittle {
		font-size: 2.8em;
	}
	.testimonials-w3 h5 {
		font-size: 1.8em;
		width: 88%;
	}
	.contact-bottom iframe {
		width: 100%;
		min-height: 250px;
	}
}
@media(max-width:667px) {
	.text-grid {
		height: 47px;
		width: 85.3%;
		h4 {
			font-size: 1.5em;
		}
	}
	.student-grid {
		width: 100%;
		&:nth-child(2) {
			margin-top: 2em;
		}
		h4 {
			font-size: 1.6em;
		}
	}
	.welcome-w3 {
		padding: 3em 0;
	}
	.student-w3ls {
		padding: 3em 0;
	}
	.new-w3agile {
		padding: 3em 0;
	}
	.about-w3 {
		padding: 3em 0;
	}
	.what-w3 {
		padding: 3em 0;
	}
	.staff-w3l {
		padding: 3em 0;
	}
	.services-w3l {
		padding: 3em 0;
	}
	.our-services-w3 {
		padding: 3em 0;
	}
	.projects-agile {
		padding: 3em 0;
	}
	.courses-w3ls {
		padding: 3em 0;
	}
	.statistics-w3 {
		padding: 3em 0;
	}
	.typo-w3 {
		padding: 3em 0;
	}
	.contact-w3l {
		padding: 3em 0;
	}
	.footer-w3 {
		padding: 3em 0;
	}
	.new-right {
		width: 100%;
		margin-top: 2em;
		h4 {
			font-size: 1.6em;
		}
	}
	.about-grid {
		width: 100%;
		h4 {
			font-size: 1.6em;
		}
	}
	.course-grid1 {
		width: 100%;
		h4 {
			font-size: 1.6em;
		}
	}
	.testimonials-w3 {
		padding: 3em 0 0;
	}
	.new-left {
		width: 100%;
	}
	.video-grid {
		width: 100%;
		margin-top: 2em;
		iframe {
			height: 327px;
		}
	}
	.statistic {
		width: 98%;
	}
	.w3agile_Projects_grid {
		padding: 0 8px;
		figure {
			height: 127.5px;
		}
		figcaption p {
			font-size: 0.96em;
		}
	}
	.banner-w3agile {
		min-height: 130px;
		padding: 4em 0 0;
	}
	.course-grid {
		width: 100%;
	}
	.gri {
		margin-top: 2em;
	}
	.detail ul li {
		font-size: 0.9em;
	}
	.indicate p {
		font-size: 0.9em;
		margin-top: 0.4em;
	}
	.text-desc h4 {
		font-size: 1.5em;
	}
	.port-7.effect-2 .text-desc {
		padding: 12px 10px 0;
	}
	.ban-grid h4 {
		font-size: 1.6em;
	}
	.footer-grid h4 {
		font-size: 1.6em;
	}
	.what-grid h4 {
		font-size: 1.6em;
	}
	.staff-right h4 {
		font-size: 1.6em;
	}
	.ser-grid h4 {
		font-size: 1.6em;
	}
	.ourser-grid h4 {
		font-size: 1.6em;
	}
	.contact-left h4 {
		font-size: 1.6em;
	}
}
@media(max-width:600px) {
	h3 {
		&.tittle {
			font-size: 2.5em;
		}
		&.tittle2 {
			font-size: 2.5em;
		}
		&.tittle1 {
			font-size: 2.5em;
		}
	}
	.testimonials-w3 {
		min-height: 350px;
		h5 {
			font-size: 1.5em;
			width: 90%;
			margin: .8em auto 0;
		}
	}
	.statistic {
		width: 100%;
		padding: 2.5em 2em;
	}
	.w3agile_Projects_grid {
		width: 73%;
		margin: 0 auto;
		float: none;
		figure {
			height: 247.5px;
		}
		&:nth-child(2) {
			margin: 2em auto;
		}
		figcaption h4 {
			margin: 3.5em 0 .5em;
		}
	}
	.contact-left {
		width: 100%;
		input[type="submit"] {
			width: 23.68%;
		}
		input[type="reset"] {
			width: 23.68%;
		}
	}
	.cont {
		width: 100%;
		margin-top: 2em;
	}
	h2.tittle {
		font-size: 2.5em;
	}
	.video-grid iframe {
		height: 303px;
	}
}
@media(max-width:568px) {
	.footer-grid {
		width: 100%;
		padding: 0 4px;
		&:nth-child(2) {
			margin: 2em 0;
		}
	}
	.what-grid {
		width: 100%;
		&:nth-child(2) {
			margin-top: 2em;
		}
	}
	.statistic {
		padding: 2em;
	}
	.ser-grid {
		padding: 0 6px;
	}
	.ourser-grid {
		padding: 0 5px;
	}
	.banner-w3agile {
		min-height: 105px;
		padding: 3em 0 0;
	}
	.contact-bottom {
		margin: 2em 0;
		padding: 1em;
	}
	.ban-grid i {
		font-size: 2em;
	}
	.port-7.effect-2 .text-desc {
		padding: 8px 10px 0;
	}
	.w3agile_Projects_grid figure {
		height: 243.5px;
	}
}
@media(max-width:414px) {

}
.statistics-grid {
	width: 100%;
	&:nth-child(2) {
		margin-top: 2em;
	}
}
@media(max-width:384px) {
	.ban-grid {
		width: 100%;
		padding: 1em 0;
		h4 {
			font-size: 1.5em;
		}
	}
	.contact-left {
		h4 {
			font-size: 1.5em;
		}
		input[type="submit"] {
			width: 29.68%;
			font-size: 0.95em;
			padding: 0.8em 0;
		}
		input[type="reset"] {
			width: 29.68%;
			font-size: 0.95em;
			padding: 0.8em 0;
		}
	}
	.welcome-w3 {
		padding: 2em 0;
	}
	.student-w3ls {
		padding: 2em 0;
	}
	.new-w3agile {
		padding: 2em 0;
	}
	.about-w3 {
		padding: 2em 0;
	}
	.what-w3 {
		padding: 2em 0;
	}
	.staff-w3l {
		padding: 2em 0;
	}
	.services-w3l {
		padding: 2em 0;
	}
	.our-services-w3 {
		padding: 2em 0;
	}
	.projects-agile {
		padding: 2em 0;
	}
	.courses-w3ls {
		padding: 2em 0;
	}
	.statistics-w3 {
		padding: 2em 0;
	}
	.typo-w3 {
		padding: 2em 0;
	}
	.contact-w3l {
		padding: 2em 0;
	}
	.footer-w3 {
		padding: 2em 0;
	}
	.serach-w3agile {
		padding: 2em 0;
	}
	.banner-w3agile {
		min-height: 80px;
		padding: 2em 0 0;
		h3 {
			font-size: 1.6em;
		}
	}
	.testimonials-w3 {
		h5 {
			font-size: 1.4em;
			width: 100%;
			margin: .8em auto 0;
		}
		p {
			font-size: 1em;
		}
	}
	.row-grid {
		float: left;
		width: 100%;
		&:nth-child(2) {
			margin-top: 2em;
		}
	}
	h2.tittle {
		font-size: 1.9em;
	}
	.student-grid h4 {
		font-size: 1.5em;
	}
	.new-right h4 {
		font-size: 1.5em;
	}
	.footer-grid h4 {
		font-size: 1.5em;
	}
	.about-grid h4 {
		font-size: 1.5em;
	}
	.what-grid h4 {
		font-size: 1.5em;
	}
	.staff-right h4 {
		font-size: 1.5em;
	}
	.ser-grid h4 {
		font-size: 1.5em;
	}
	.ourser-grid h4 {
		font-size: 1.5em;
	}
	.course-grid1 h4 {
		font-size: 1.5em;
	}
	.video-grid iframe {
		height: 178px;
	}
}
@media(max-width:375px) {
	.w3agile_Projects_grid {
		width: 100%;
	}
	.detail ul li {
		font-size: 0.87em;
	}
	.indicate p {
		font-size: 0.87em;
	}
	h2.tittle {
		font-size: 1.9em;
		line-height: 1.5em;
	}
	.video-grid iframe {
		height: 177px;
	}
	.contact-left textarea {
		resize: none;
		height: 120px;
	}
}
@media(max-width:320px) {
	.wel-grid {
		padding: 0;
	}
	.student-grid {
		padding: 0;
	}
	.new-left {
		padding: 0;
	}
	.new-right {
		padding: 0;
	}
	.about-grid {
		padding: 0;
	}
	.what-grid {
		padding: 0;
	}
	.video-grid {
		padding: 0;
		iframe {
			height: 150px;
		}
	}
	.statistics-grid {
		padding: 0;
	}
	.staff-grid {
		padding: 0;
	}
	.ser-grid {
		padding: 0;
	}
	.ourser-grid {
		padding: 0;
	}
	.place-grid {
		padding: 0;
		float: left;
		width: 100%;
		&:nth-child(2) {
			margin-top: 1em;
		}
	}
	.course-grid {
		padding: 0;
	}
	.course-grid1 {
		padding: 0;
	}
	.contact-left {
		padding: 0;
	}
	.navbar-default {
		padding: 0.5em 0;
	}
	.testimonials-w3 {
		min-height: 320px;
		h5 {
			font-size: 1.2em;
			width: 100%;
			margin: .8em auto 0;
		}
	}
	.text-grid {
		left: 0;
		width: 100%;
	}
	.statistic {
		padding: 3em;
	}
	.navbar-brand h1 a {
		font-size: 1em;
		margin-top: .15em;
	}
	h3.tittle1 {
		margin-bottom: 0.4em;
	}
	.test-grid img {
		width: 15%;
	}
}
nav a {
	position: relative;
	display: inline-block;
	outline: none;
	text-decoration: none;
	&:hover {
		outline: none;
	}
	&:focus {
		outline: none;
	}
}
.nav > li > a {
	padding: 0 15px;
	color: $white;
}
.video-grid iframe {
	width: 100%;
	height: 308px;
	height: 256px;
	height: 199px;
}
img.zoom-img:hover {
	overflow: hidden;
}
li.list-group-item1 {
	font-size: 14px;
	font-weight: 300;
	line-height: 2.5em;
}
.typo p {
	margin: 0;
	font-size: 14px;
	font-weight: 300;
}
.xs h3 {
	@extend %extend_2;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.pagination > .active {
	> a {
		z-index: 0;
		&:hover {
			z-index: 0;
		}
		&:focus {
			z-index: 0;
		}
	}
	> span {
		z-index: 0;
		&:hover {
			z-index: 0;
		}
		&:focus {
			z-index: 0;
		}
	}
}
section#tables p {
	margin-top: 1em;
}
.tab-container .tab-content {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0 2px 2px 2px;
	border: 1px solid $color_bon_jour_approx;
	padding: 16px;
	background-color: $white;
}
.row:nth-child(2) {
	padding: 1.5em 0;
}
.contct-info ul li a {
	font-size: 1em;
	color: $color_tapa_approx;
}

.navbar-default .navbar-nav > .active > a {
	background-color: #ff17f5;
	color: #fffd56;
	box-shadow: 0 -8px 0 rgba(0, 0, 0, 0.15) inset;
}


.banner-bottom {
	text-align: center;
	background: #edf7ff;
}



.kb_caption h3 {
	padding: .5em !important;
}
.kb_caption h3 {
	padding: 1em;
}



.kb_caption h3 .text-grid h4 {
	text-align: center;
	font-size: 1.8em;
	color: #ffffff;
	padding-top: 0.7em;
}




.kb_caption h3 .text-grid {
	position: absolute;
	left: 6px;
	bottom: 0;
	background: #f58703;
	width: 97%;
	height: 60px;
}


.kb_caption h3 .text-grid h4 {
	text-align: center;
	font-size: 1.8em;
	color: #ffffff;
	padding-top: 0.7em;
}

.kb_caption h3 .text-grid h4 {
	text-align: center;
	font-size: 1.8em;
	color: #ffffff;
	padding-top: 0.7em;
}
.kb_caption h3 .text-grid {
	position: absolute;
	left: 6px;
	bottom: 0;
	background: #f58703;
	width: 97%;
	height: 60px;
}
.flota{
	float: left;
	padding:10px;
	border:1px #EEE  solid;
	margin-right: 23px;
	width: 201px;
}